<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Programacion VIsual</title>
</head>
<body>
	<header>
		<h1>Programacion Visual</h1>
	</header>
	<nav>
		<a>Objetivos</a> <a>Autoaprendizaje</a> <a>Asistencia</a>
	</nav>
	<main>
		<section>
			<h2>Objetivos</h2>
			<h3>subtitulo</h3>
			<p>Conceptualizar la arquitectura de aplicaciones web en el
				contexto de las tecnologías usadas en la asignatura Conceptualizar
				que es un framework, que es spring framework Conceptualizar spring
				boot y contrastar sus aplicaciones con la configuración manual de
				spring framework Realizar una introducción al uso de la capa
				controller Realizar una introducción a HTML</p>
		</section>
		<section>
			<h2>Autoaprendizaje</h2>
			<h3>subtitulo</h3>
			<ul>
				<li>Aplicaciones Web(diapositivas)</li>
				<li>Arquitectura de Aplicaicones</li>
				<li>Framework - Spring Framework</li>
			</ul>
		</section>
		<section>
			<h2>Asistencia</h2>
			<h3>subtitulo</h3>

			<table>
				<thead>
					<tr>
						<th>LU</th>
						<th>email</th>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Asistencia</th>
					</tr>

				</thead>
				<tbody>
					<tr>
						<td>123</td>
						<td>test@gmail.com</td>
						<td>Juan</td>
						<td>Doe</td>
						<td>Presente</td>
					</tr>
					<tr>
						<td>123</td>
						<td>test@gmail.com</td>
						<td>Juan</td>
						<td>Doe</td>
						<td>Ausente</td>
					</tr>
					<tr>
						<td>123</td>
						<td>test@gmail.com</td>
						<td>Juan</td>
						<td>Doe</td>
						<td>Presente</td>


					</tr>
				</tbody>
			</table>
		</section>
	</main>
	<aside>
		<a>enlace de aside</a> <img alt="imagen del aside" src="">
	</aside>

	<footer>
		<p>programacionvisual@gmail.com</p>
		<p>Siganos en nuestras redes Sociales</p>
		<a>linkedin</a> <a>facebok</a> <a>Twitter</a>
	</footer>
</body>
</html>