<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Programacion VIsual</title>
</head>
<body>
	<header>
		<h1>Encabezado</h1>
	</header>
	<nav>
		<a>Link 1</a> <a>Link 2</a> <a>Link 3</a>
	</nav>
	<main>
		<section>
			<h2>Titulo</h2>
			<h3>subtitulo</h3>
			<p>Lorem Ipsum is simply dummy text of the printing and
				typesetting industry. Lorem Ipsum has been the industry's standard
				dummy text ever since the 1500s, when an unknown printer took a
				galley of type and scrambled it to make a type specimen book. It has
				survived not only five centuries, but also the leap into electronic
				typesetting, remaining essentially unchanged. It was popularised in
				the 1960s with the release of Letraset sheets containing Lorem Ipsum
				passages, and more recently with desktop publishing software like
				Aldus PageMaker including versions of Lorem Ipsum.</p>
		</section>
		<section>
			<h2>Titulo</h2>
			<h3>subtitulo</h3>
			<ul>
				<li>Tema uno</li>
				<li>Tema dos</li>
				<li>Tema tres</li>
			</ul>
		</section>
		<section>
			<h2>Titulo</h2>
			<h3>subtitulo</h3>

			<table>
				<thead>
					<tr>
						<th>ID</th>
						<th>email</th>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Direccion</th>
						<th>Telefono</th>
					</tr>

				</thead>
				<tbody>
					<tr>
						<td>123</td>
						<td>test@gmail.com</td>
						<td>Juan</td>
						<td>Doe</td>
						<td>Suipacha 123</td>
						<td>388123456</td>
					</tr>
					<tr>
						<td>123</td>
						<td>test@gmail.com</td>
						<td>Juan</td>
						<td>Doe</td>
						<td>Suipacha 123</td>
						<td>388123456</td>
					</tr>
					<tr>
						<td>123</td>
						<td>test@gmail.com</td>
						<td>Juan</td>
						<td>Doe</td>
						<td>Suipacha 123</td>
						<td>388123456</td>


					</tr>
				</tbody>
			</table>
		</section>
	</main>
	<aside>
		<a>enlace de aside</a> <img alt="imagen del aside" src="">
	</aside>

	<footer>
		<p>test@gmail.com</p>
		<a>linkedin</a> <a>facebok</a> <a>Twitter</a>
	</footer>
</body>
</html>